{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}{% endblock %}

{% block body %}

{% block navbar %}
 <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">betapp</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ url_for('index') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ url_for('tables', _anchor='content') }}">Tables</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{{ url_for('sim', _anchor='content') }}">Simulations</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">
                We are here
            </h1>
            <h1 class="mx-auto my-0 text-uppercase">
                <a href="#" class="typewrite" data-period="2000" data-type='[ "to win.", "for football.", "to code." ]'>
                    <span class="wrap"></span>
                </a>
            </h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Statistic-based bets.</h2>
            <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- About Section -->
<section id="content" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">What the game is about?</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <h2 class="text-uppercase m-0"><span class="count">3200</span></h2><h3><i class="fas fa-percentage"></i></h3>
                        <hr class="my-4">
                        <div class="small text-black-50">Last two seasons gain</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <h2 class="text-uppercase m-0"><span class="count">37</span></h2><h3><i class="fas fa-percentage"></i></h3>
                        <hr class="my-4">
                        <div class="small text-black-50">Correctly bet draws</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <h2 class="text-uppercase m-0"><span class="count">59</span></h2><h3><i class="fas fa-percentage"></i></h3>
                        <hr class="my-4">
                        <div class="small text-black-50">Correctly bet matches</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content2" class="explain-section bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <h2 class="text-black mb-4">System explanation</h2>
                <p class="text-justify">As you maybe know, odds are set <strong>according to players' types</strong>. If it is a lot of bets for home team,
                    odd goes down etc., because bookmaker always strive to average number of bets for every option. The
                    thing is that <strong>we can utilize</strong> this fact. People's average bets are often accurate. This fact is known as
                    <strong>crowd's power.</strong>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col mx-auto">
                <h3 class="text-black mb-4 mx-auto">Tactics</h3>
                <p class="text-center">Crucial part of this tactics is to <strong>define limits of probabilities</strong> and calculate <strong>probability of every result</strong>. It is how it is calculated.</p>
                $$ {p_1 =\frac{1}{1 + \frac{odd1}{odd2} + \frac{odd1}{oddX}}} $$
                $$ {p_2 =\frac{1}{1 + \frac{odd2}{odd1} + \frac{odd2}{oddX}}} $$
                $$ {p_X =\frac{1}{1 + \frac{oddX}{odd2} + \frac{oddX}{odd1}}} $$
                <br>
                <p>Limit probabilities determines how big the <strong>difference between p1 and p2</strong> can be. Limit probabilities are established in <strong>experimental way</strong>.</p>
                <p class="text-center">Then, they are <strong>two conditions</strong>:</p>
                <ul class="list-group list-group-flush col-lg-8 mx-auto">
                    <li class="list-group-item">1. If win probabilities of each team are similar, it means
                    $$ {\left|p_1 - p_2\right| \leq lim\_down} $$
                    bet on draw</li>
                    <li class="list-group-item">2. Else if probability difference is clear, it means
                    $$ {\left|p_1 - p_2\right| \geq lim\_up} $$
                    bet on team with higher win probability</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col mx-auto">
                <h3 class="text-black my-4">Live example</h3>
                <h4 class="text-black my-2">Huddersfield - West Ham</h4>
                <p class="text-center">Round 12</p>
                <p class="text-center">Pre-match odds:</p>
                <ul class="list-group list-group-flush col-lg-6 mx-auto">
                    <li class="list-group-item">1: 3.25</li>
                    <li class="list-group-item">X: 3.3</li>
                    <li class="list-group-item">2: 2.4</li>
                </ul>
                <br>
                <p class="text-center">Let's define <strong>lim_down</strong> as 0.2 and <strong>lim_up</strong> as 0.6 and calculate probabilities.</p>
                $$ {p_1 =\frac{1}{1 + \frac{3.25}{2.4} + \frac{3.25}{3.3}} \approx 0.3} $$
                $$ {p_X =\frac{1}{1 + \frac{3.3}{2.4} + \frac{3.3}{3.25}} \approx 0.295} $$
                $$ {p_2 =\frac{1}{1 + \frac{2.4}{3.25} + \frac{2.4}{3.3}} \approx 0.405} $$
                <p class="text-center">Let's check first condition. It returns True.</p>
                $$ {\left|p_1 - p_2\right| \approx 0.105 \leq 0.2} $$
                <p class="text-center">Let's check second condition. It would return False.</p>
                $$ {\left|p_1 - p_2\right| \approx 0.105 \geq 0.6} $$
                <p class="text-center">According to odds, chances of every team are <strong>similar</strong>. Because of abs(p1-p2) is less than lim_down, <strong>let's bet on draw!</strong></p>
                <h4 class="text-black my-2">Huddersfield 1 - 1 West Ham</h4>
                <p class="text-center">Match ended with the result 1:1, so <strong>we would win</strong> e.g 50 * 3.3 = 165 units</p>
            </div>
        </div>

        <div class="row d-none d-sm-block">
            <div class="col-lg-12 mx-auto">
                <h3 class="text-black my-4">Historical analysis</h3>
                <img src="{{ url_for('static', filename='img/pl1.png') }}" class="img-responsive" />
                <img src="{{ url_for('static', filename='img/pl2.png') }}" class="img-responsive" />
                <img src="{{ url_for('static', filename='img/pl3.png') }}" class="img-responsive" />
                <img src="{{ url_for('static', filename='img/pl4.png') }}" class="img-responsive" />
                <img src="{{ url_for('static', filename='img/pl5.png') }}" class="img-responsive" />
                <img src="{{ url_for('static', filename='img/sum.png') }}" class="img-responsive" />
            </div>
        </div>

        <div class="row">
            <div class="col mx-auto">
                <h3 class="text-black my-4">Bid types</h3>
                <p class="text-center">In this tactics and simulations subpage two types of bids were used and tested:</p>
                <ul class="list-group list-group-flush col-lg-8 mx-auto">
                    <li class="list-group-item"><strong>Flat</strong> - e.g 50$ for every match</li>
                    <li class="list-group-item"><strong>Kelly criterium</strong> - bid is set as budget percentage depends on probability<br><small>kelly_crit returns percentage value, it informs what part of our budget should we use, it is even 50% when it is high win probability</small></li>
                </ul>
            </div>
        </div>

    </div>
</section>
{% endblock %}

{% block footer %}
<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container">

        <div class="social d-flex justify-content-center">
            <a target="_blank" href="https://github.com/0bart" class="mx-2">
                <i class="fab fa-github"></i>
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/bartlomiej-kopacz-43276312b" class="mx-2">
                <i class="fab fa-linkedin"></i>
            </a>
            <a target="_blank" href="https://www.kaggle.com/bart00" class="mx-2">
                <i class="fab fa-kaggle"></i>
            </a>
        </div>

    </div>
</section>

<!-- Footer -->
<footer class="bg-black small">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center text-white">The main goal of this app is my wish to learn and build fully automated app using microservices.</p>
                <p class="text-center text-white">It is my hobby project, you cannot treat it as instigation for betting or invest advice.</p>
                <p class="text-center text-white">I am not responsible for lost capital.</p>
                <p class="text-center text-white">If you have any questions or remarks please contact me using one of above pages. Thank you.</p>
            </div>
        </div>
        <div class="row text-center text-white-50">
            <div class="col">
                Copyright &copy; 0bart 2019
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" id="cookieinfo" src="//cookieinfoscript.com/js/cookieinfo.min.js"></script>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='js/betapp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typewrite.js') }}"></script>
    <script src="{{ url_for('static', filename='js/counter.js') }}"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
{% endblock %}
{% endblock %} {# endblock body #}


